* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button,
a {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

html {
	background-color: #000;
}

.canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.showSettings {
	padding: 5px;
	position: absolute;
	font-size: 16px;
	right: 0;
	top: 0;
	z-index: 100;
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
	opacity: 0.2;
}

.showSettings.active {
	opacity: 1;
}

.settings {
	padding: 5px;
	position: absolute;
	z-index: 100;
	display: flex;
	flex-direction: column;
	gap: 5px;
	color: #fff;
}

.settings__item {
	display: flex;
	align-items: center;
}

.settings input:first-child {
	margin: 0px 0px 0px 10px;
}

.settings input {
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
}
